In [684]:
import mysql.connector
import pandas as pd

In [685]:
def create_database():
  conn = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
  )

  conn.autocommit=True
  
  print(conn)
  cur = conn.cursor()
  try:
    cur.execute("DROP DATABASE ACCOUNTS")
  except:
    print("ACCOUNT Database not exist")
    
  cur.execute("CREATE DATABASE ACCOUNTS")
  cur.execute("USE ACCOUNTS")
  for x in cur:
    print(x)
  
  return cur, conn

In [686]:
create_database()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f83c7e8ce80>

(<mysql.connector.cursor_cext.CMySQLCursor at 0x7f83c7bb7e50>,
 <mysql.connector.connection_cext.CMySQLConnection at 0x7f83c7e8ce80>)

In [687]:
def drop_tables(cur, conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [688]:
def create_tables(cur, conn):
    for query in create_table_quries:
        cur.execute(query)
        conn.commit()

In [689]:
AccountsCountry = pd.read_csv("/config/workspace/Wealth-AccountsCountry.csv")

In [690]:
AccountsCountry.head()

,Code,Long Name,Income Group,Region,Lending category,Other groups,Currency Unit,Latest population census,Latest household survey,Special Notes,...,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,2-alpha code,WB-2 code,Table Name,Short Name
0,ALB,Republic of Albania,Upper middle income,Europe & Central Asia,IBRD,NaN,Albanian lek,2020 (expected),"Demographic and Health Survey, 2017/18",NaN,...,Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2018.0,2006.0,AL,AL,Albania,Albania
1,ARG,Argentine Republic,Upper middle income,Latin America & Caribbean,IBRD,NaN,Argentine peso,2020 (expected),"Multiple Indicator Cluster Survey, 2019/20",NaN,...,"Integrated household survey (IHS), 2016",Yes,2008,2002.0,2018.0,2011.0,AR,AR,Argentina,Argentina
2,ARM,Republic of Armenia,Upper middle income,Europe & Central Asia,IBRD,NaN,Armenian dram,2020 (expected),"Demographic and Health Survey, 2015/16",NaN,...,"Integrated household survey (IHS), 2016",Yes,2014,NaN,2018.0,2012.0,AM,AM,Armenia,Armenia
3,AUS,Commonwealth of Australia,High income,East Asia & Pacific,NaN,NaN,Australian dollar,2016,NaN,Fiscal year end: June 30; reporting period for...,...,"Expenditure survey/budget survey (ES/BS), 2010",Yes,2015-2016,2013.0,2018.0,2013.0,AU,AU,Australia,Australia
4,AUT,Republic of Austria,High income,Europe & Central Asia,NaN,Euro area,Euro,2011. Population figures compiled from adminis...,NaN,A simple multiplier is used to convert the nat...,...,"Income survey (IS), 2015",Yes,2010,2014.0,2018.0,2010.0,AT,AT,Austria,Austria

In [691]:
AccountsCountry.columns

Index(['Code', 'Long Name', 'Income Group', 'Region', 'Lending category',
       'Other groups', 'Currency Unit', 'Latest population census',
       'Latest household survey', 'Special Notes',
       'National accounts base year', 'National accounts reference year',
       'System of National Accounts', 'SNA price valuation',
       'Alternative conversion factor', 'PPP survey years',
       'Balance of Payments Manual in use', 'External debt Reporting status',
       'System of trade', 'Government Accounting concept',
       'IMF data dissemination standard',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', '2-alpha code', 'WB-2 code',
       'Table Name', 'Short Name'],
      dtype='object')

In [692]:
AccountsCountry_Clean[AccountsCountry_Clean[['Code','Short Name']]['Code'].isna()]

Empty DataFrame
Columns: [Code, Short Name, Table Name, Long Name, Currency Unit]
Index: []

In [693]:
AccountsCountry_Clean = AccountsCountry[['Code', 'Short Name', 'Table Name','Long Name','Currency Unit']]

In [694]:
AccountsCountry_Clean.dropna(subset = ['Code'], inplace=True)
AccountsCountry_Clean.fillna(0,inplace=True)
AccountsCountry_Clean.drop_duplicates(subset = ['Code'], inplace=True)

/tmp/ipykernel_1022/3633804775.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AccountsCountry_Clean.dropna(subset = ['Code'], inplace=True)
/tmp/ipykernel_1022/3633804775.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AccountsCountry_Clean.fillna(0,inplace=True)
/tmp/ipykernel_1022/3633804775.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AccountsCountry_Clean.drop_duplicates(subset = ['Code'], inplace=True)

In [695]:
AccountsCountry_Clean.head()

  Code Short Name Table Name                  Long Name      Currency Unit
0  ALB    Albania    Albania        Republic of Albania       Albanian lek
1  ARG  Argentina  Argentina         Argentine Republic     Argentine peso
2  ARM    Armenia    Armenia        Republic of Armenia      Armenian dram
3  AUS  Australia  Australia  Commonwealth of Australia  Australian dollar
4  AUT    Austria    Austria        Republic of Austria               Euro

In [696]:
AccountsData = pd.read_csv("/config/workspace/Wealth-AccountData.csv")

In [697]:
AccountsData.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1995 [YR1995]', '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]',
       '1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]',
       '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]',
       '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]',
       '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
       '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]'],
      dtype='object')

In [698]:
AccountsData = AccountsData[['Country Name', 'Country Code', 'Series Name', 'Series Code','1995 [YR1995]','2000 [YR2000]','2005 [YR2005]','2010 [YR2010]','2014 [YR2014]']]

In [699]:
AccountsSeries = pd.read_csv("/config/workspace/Wealth-AccountSeries.csv")

In [700]:
AccountsSeries.columns

Index(['Code', 'Indicator Name', 'Long definition', 'Source', 'Topic',
       'Unit of measure', 'Periodicity', 'Reference period',
       'Statistical concept and methodology', 'Previous Indicator Code',
       'Previous Indicator Name'],
      dtype='object')

In [701]:
AccountsSeries = AccountsSeries[['Code','Topic','Indicator Name', 'Long definition']]

In [702]:
AccountsSeries.head()

,Code,Topic,Indicator Name,Long definition
0,NW.HCA.TO,Human capital,Human capital (constant 2018 US$),Human capital is computed as the present value...
1,NW.HCA.PC,Human capital,Human capital per capita (constant 2018 US$),Human capital is computed as the present value...
2,NW.HCA.FEMP.PC,Human capital,"Human capital per capita, employed female (con...",Human capital is computed as the present value...
3,NW.HCA.MEMP.PC,Human capital,"Human capital per capita, employed male (const...",Human capital is computed as the present value...
4,NW.HCA.FEMA.PC,Human capital,"Human capital per capita, female (constant 201...",Human capital is computed as the present value...

In [703]:
cur,conn = create_database()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f83c98b2be0>

In [704]:
accounts_country_table_create = ("""CREATE TABLE IF NOT EXISTS AccountsCountry(
country_code varchar(30) primary key,
short_name varchar(100),
table_name varchar(100),
long_name varchar(100),
currency_unit varchar(100)) """)

In [705]:
cur.execute(accounts_country_table_create)
conn.commit()

In [706]:
# cur.execute("select * from AccountsCountry limit 5")

In [707]:
accounts_data_table_create = ("""CREATE TABLE IF NOT EXISTS AccountsData(
country_name varchar(30),
country_code varchar(20),
series_name varchar(200),
series_code varchar(30),
YR1995 BIGINT,
YR2000 BIGINT,
YR2005 BIGINT,
YR2010 BIGINT,
YR2014 BIGINT) """)

cur.execute(accounts_data_table_create)
conn.commit()

In [708]:
accounts_series_table_create = ("""CREATE TABLE IF NOT EXISTS AccountsSeries(
series_code varchar(30),
topic varchar(50),
indicator_name varchar(100),
long_definition varchar(20)) """)

cur.execute(accounts_series_table_create)
conn.commit()

In [709]:
accounts_country_table_insert = ("""INSERT INTO AccountsCountry(
country_code,
short_name,
table_name,
long_name,
currency_unit)
values(%s,%s,%s,%s,%s)
""")

In [710]:
for i, row in AccountsCountry_Clean.iterrows():
    cur.execute(accounts_country_table_insert, list(row))

In [711]:
conn.commit()

In [712]:
AccountsCountry_Clean.columns

Index(['Code', 'Short Name', 'Table Name', 'Long Name', 'Currency Unit'], dtype='object')

In [713]:
accounts_data_table_insert = ("""INSERT INTO AccountsData(
country_name,
country_code,
series_name,
series_code,
YR1995,
YR2000,
YR2005,
YR2010,
YR2014)
values(%s,%s,%s,%s,%s,%s,%s,%s,%s)
""")

In [714]:
AccountsData[AccountsData['1995 [YR1995]'] == '..']

,Country Name,Country Code,Series Name,Series Code,1995 [YR1995],2000 [YR2000],2005 [YR2005],2010 [YR2010],2014 [YR2014]
1224,Chad,TCD,"Natural capital per capita, nonrenewable asset...",NW.NCA.SAOI.PC,..,..,1.451296e+03,3.303945e+03,3.094919e+03
1239,Chad,TCD,"Natural capital, nonrenewable assets: oil (con...",NW.NCA.SAOI.TO,..,..,1.470000e+10,3.950000e+10,4.230000e+10
6369,Suriname,SUR,"Natural capital per capita, nonrenewable asset...",NW.NCA.SACO.PC,..,0,0.000000e+00,0.000000e+00,0.000000e+00
6384,Suriname,SUR,"Natural capital, nonrenewable assets: coal (co...",NW.NCA.SACO.TO,..,0,0.000000e+00,0.000000e+00,0.000000e+00
7409,West Bank and Gaza,PSE,"Natural capital per capita, nonrenewable asset...",NW.NCA.SACO.PC,..,0,0.000000e+00,0.000000e+00,0.000000e+00
7410,West Bank and Gaza,PSE,"Natural capital per capita, nonrenewable asset...",NW.NCA.SAGA.PC,..,0,0.000000e+00,0.000000e+00,0.000000e+00
7412,West Bank and Gaza,PSE,"Natural capital per capita, nonrenewable asset...",NW.NCA.SAOI.PC,..,0,0.000000e+00,0.000000e+00,0.000000e+00
7424,West Bank and Gaza,PSE,"Natural capital, nonrenewable assets: coal (co...",NW.NCA.SACO.TO,..,0,0.000000e+00,0.000000e+00,0.000000e+00
7425,West Bank and Gaza,PSE,"Natural capital, nonrenewable assets: gas (con...",NW.NCA.SAGA.TO,..,0,0.000000e+00,0.000000e+00,0.000000e+00
7427,West Bank and Gaza,PSE,"Natural capital, nonrenewable assets: oil (con...",NW.NCA.SAOI.TO,..,0,0.000000e+00,0.000000e+00,0.000000e+00

In [715]:
AccountsData.drop_duplicates(inplace=True)

In [716]:
AccountsData.fillna(0,inplace=True)
AccountsData.replace('..',0,inplace=True)

In [717]:
for i, row in AccountsData.iterrows():
    cur.execute(accounts_data_table_insert, list(row))

In [718]:
conn.commit()

In [719]:
accounts_series_table_insert = ("""INSERT INTO AccountsSeries(
series_code,
topic,
indicator_name,
long_definition)
values(%s,%s,%s,%s)
""")

In [720]:
# AccountsSeries['Long definition'].str.extract(r'^(.*\b[c]apital\b)')
AccountsSeries['Long definition'] = AccountsSeries['Long definition'].str[:15]

In [721]:
for i, row in AccountsSeries.iterrows():
    cur.execute(accounts_series_table_insert, list(row))

In [722]:
# AccountsSeries['Long definition'].str.extract(r'^(.*\b[c]apital\b)')

In [723]:
conn.commit()